/nbproject/

offline/.tmp/

*.o

.tmp/

*.txt

*.mod

test_offline/src/.Rhistory

*.history

*.nc

build/new_sumbal

.tmp

*.txt

*.history

offline/.tmp/

*.o

*.mod

test_offline/src/.Rhistory

*.history

offline/cable
